<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableNames.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42CC24A11F67018700A8F76B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42CC24B51F67018800A8F76B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42CC24C01F67018800A8F76B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
