<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coreDataPlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>42DB351D1F69B8CF00E986E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DB35311F69B8CF00E986E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DB353C1F69B8CF00E986E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
